body {
    background-color: #DBEDB9;
}
@font-face {
    font-family: myfont;
    src: url(Com.ttf);
}
.Logout {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: myfont;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 175px;
    height: 45px;
    left: 85.7%;
    top: 3.4%;
}
.Logout:hover{
    background-color: #ffb7b7;
}
.message {
    user-select: none;
    background-color: white;
    color: black;
    border: none;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: myfont;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 175px;
    height: 45px;
    left: 88.6%;
    top: 93.8%;
}
.message:hover{
    background-color: #87c18b;
}
.documentprev{
    user-select: none;
    background-color: #00730C;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 733px;
    height: 20px;
    left: 633px;
    top: 89.5px;
}
.font{
    font-family: myfont;
}
.preview{
    user-select: none;
    background-color: #E7E7E7;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 824px;
    height: 560px;
    left: 41%;
    top: 13.1%;
}
.delete{
    user-select: none;
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 3px 8px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 39.9px;
    height: 38px;
    left: 1366px;
    top: 90px;
}
.delete:hover{
    background-color: #87c18b;
}
.print{
    user-select: none;
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 3px 6px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 40px;
    height: 38px;
    left: 1325.5px;
    top: 90px;
}
.print:hover{
    background-color: #87c18b;
}
.download{
    user-select: none;
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 3px 6px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 40px;
    height: 38px;
    left: 1284.5px;
    top: 90px;
}
.download:hover{
    background-color: #87c18b;
}
.Zoomin{
    user-select: none;
    background-repeat: no-repeat;
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 3px 6px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    font-size: 31px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 39.8px;
    height: 38px;
    left: 1243.8px;
    top: 90px;
}
.Zoomin:hover{
    background-color: #87c18b;
}
.Zoomout{
    user-select: none;
    background-repeat: no-repeat;
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 3px 6px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    font-size: 31px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 40px;
    height: 38px;
    left: 1203px;
    top: 90px;
}
.Zoomout:hover{
    background-color: #87c18b;
}
.search{
    background-color: #E7E7E7;
    color: #767676;
    border: none;
    padding: 11px 20px;
    font-family: myfont;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 510px;
    height: 20px;
    left: 38px;
    top: 98.5px;
}
.search input{
    background-color: #E7E7E7;
    border: none;
    font-family: myfont;
    outline: none;
    width: 475px;
}
.search input::placeholder{
    font-weight: bold;
    font-family: myfont;
}
.Find{
    user-select: none;
    background-color: #E7E7E7;
    color: black;
    border: none;
    padding: 3px 8px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 40px;
    height: 38px;
    left: 508px;
    top: 1px;
}
.Folders{
    user-select: none;
    background-color: #E7E7E7;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 510px;
    height: 500.5px;
    left: 38px;
    top: 158px;
}
.foldertab{
    user-select: none;
    background-color: #23654A;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 510px;
    height: 20px;
    left: 0px;
    top: 0px;
}
.Previous{
    user-select: none;
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 3px 8px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 40px;
    height: 38px;
    left: .8px;
    top: 1.5px;
}
.Previous:hover{
    background-color: #87c18b;
}
.delete{
    user-select: none;
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 3px 9px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 40px;
    height: 38px;
    left: 41.8px;
    top: 1.5px;
}
.delete:hover{
    background-color: #87c18b;
}
.add{
    user-select: none;
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 3px 7px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 40px;
    height: 38.2px;
    left: 83px;
    top: 1.4px;
}
.add:hover{
    background-color: #87c18b;
}
.tap{
    user-select: none;
    background-color: #B8D87B;
    color: black;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 40px;
    height: 38px;
    left: 123.5px;
    top: 1.5px;
}
.invisible{
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:100%;
}
.tap:hover{
    background-color: #87c18b;
}
select{
    user-select: none;
    background-color: #D9D9D9;
    color: #767676;
    border: none;
    padding: 10px 20px;
    font-family: myfont;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 120px;
    height: 38px;
    left: 429.5px;
    top: 1.5px;
}
.select:hover{
    background-color: #87c18b;
}
.profile{
    user-select: none;
    font-size: 41px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #D9D9D9;
    position: absolute;
    border: none;
    top: 6.5%;
    left: 5%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.profileimg{
    user-select: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #D9D9D9;
    position: absolute;
    border: none;
    top:0px;
    right:0px;
}
.hidden{
    display:none;
}
.visible{
    display: block;
}
.messagecon{
    user-select: none;
    background-color: #23654A;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: myfont;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 339.5px;
    height: 20px;
    left: 0%;
    top: 0%;
}
.mescon2{
    user-select: none;
    background-color: #FFFF;
    color: black;
    border: none;
    padding: 0px 0px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 379.5px;
    height: 433px;
    left: 75.3%;
    top: 42.3%;
}
.close{
    user-select: none;
    background-color: #23654A;
    color: white;
    border: none;
    font-family: myfont;
    padding: 3px 16px;
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 40px;
    height: 38px;
    left: 86%;
    top: 0%;
}
.addfoldertab{
    background-color: #23654A;
    color: black;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 35%;
}
.foldermessage{
    background-color: #FFFF;
    color: black;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.5);
    width: 20%;
    height: 15%;
    top: 42%;
    left: 2%;
    margin-left:35%;
}
.elem1 {
position: absolute;
border-radius: 10px;
background-blend-mode: lighten;
width: 320px;
height: 98px;
left: 100px;
top: -2px;
background: url(Group\ 2.png);
}

.element1{
    user-select: none;
    font-size: 50px;
    width: 0;
    position: absolute;
    top: 92.3%;
    left: .4%;
}
.element2{
    user-select: none;
    font-family: myfont;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 8%;
    top: 1%;
}
.element3{
    user-select: none;
    font-family: myfont;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 80%;
    top: 1.4%;
}
.element4{
    user-select: none;
    font-family: myfont;
    font-size: 34px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
    width: 0px;
    left: 77%;
    top: 6.8%;
}
.profname{
    user-select: none;
    font-family: myfont;
    font-size: 19px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
    width: 0px;
    left: 42%;
    top: 36.8%;
}
.submit_file{
    user-select: none;
    background-color: white;
    font-family: myfont;
    font-size: 19px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 78px;
    left: 42%;
    top: 18.8%;
}
.files{
    user-select: none;
    background-image: url('File.svg');
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 96px 0px 10px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    display: flex;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 90px;
    height: 10px;
}

.files2{
    user-select: none;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 1px 1px;
    text-align: center;
    margin-top: 40px;
    margin-right: 20px;
    display: flex;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 90px;
    height: 90px;
    left: 1243.8px;
    top: 90px;
}
.folder{
    user-select: none;
    background-image: url('Folder.svg');
    background-repeat: no-repeat;
    background-color: #E7E7E7;
    color: black;
    border: none;
    padding: 83px 0px 10px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    display: flex;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 92px;
    height: 10px;
}
.folder2{
    user-select: none;
    background-repeat: no-repeat;
    background-color: #E7E7E7;
    color: black;
    border: none;
    padding: 1px 1px;
    text-align: center;
    margin-top: 40px;
    margin-right: 20px;
    display: flex;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 90px;
    height: 90px;
    left: 1243.8px;
    top: 90px;
}
.addfoldertext{
    user-select: none;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: myfont;
    left: 29%;
    top: 29%;
}
.flput{
    background-color: #bfbdbd;
    position: absolute;
    font-family: myfont;
    padding: 0px 0px;
    border-radius: 2px;
    height: 25px;
    width: 180px;
    left: 5%;
    top: 160%;
}
.buttsub{
    user-select: none;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    position: absolute;
    font-family: myfont;
    padding: 0px 0px;
    border-radius: 2px;
    height: 25px;
    width: 80px;
    left: 69%;
    top: 160%;
}
.buttsub:hover{
    background-color: #87c18b;
}