body {
    background-color: #00730C;
}
.font{
    font-family: Arial, sans-serif;
}
.container {
    width: 95%;
    height: 90%;
    background-color: #DBEDB9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Logout {
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 175px;
    height: 45px;
    left: 85%;
    top: 20px;
}
.Logout:hover{
    background-color: #87c18b;
}
.message {
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 175px;
    height: 45px;
    left: 71%;
    top: 20px;
}
.message:hover{
    background-color: #87c18b;
}
.hidden{
    display:none;
}
.visible{
    display: block;
}
.logcontainer {
    width: 1250px;
    height: 470px;
    border: none;
    background-color: #00730C;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.name{
    background-color: #ffffff;
    color: #767676;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 510px;
    height: 35px;
    left: 570px;
    top: 60px;
    }
.name input{
    border: none;
    outline: none;
    width: 475px;
}
.name::placeholder{
    font-weight: bold; 
}
.Username{
    background-color: #ffffff;
    color: #767676;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 510px;
    height: 35px;
    left: 570px;
    top: 114px;
}
.Username input{
    border: none;
    outline: none;
    width: 475px;
}
.Username::placeholder{
    font-weight: bold; 
}
.Birth{
    background-color: #ffffff;
    color: #767676;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 510px;
    height: 35px;
    left: 570px;
    top: 222px;
}
.Birth input{
    border: none;
    outline: none;
    width: 475px;
}
.Birth::placeholder{
    font-weight: bold; 
}
.pass{
    background-color: #ffffff;
    color: #767676;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 510px;
    height: 35px;
    left: 570px;
    top: 167px;
}
.pass input{
    border: none;
    outline: none;
    width: 475px;
}
.pass::placeholder{
    font-weight: bold; 
}
.contact{
    background-color: #ffffff;
    color: #767676;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 510px;
    height: 35px;
    left: 570px;
    top: 276px;
}
.contact input{
    border: none;
    outline: none;
    width: 475px;
}
.contact::placeholder{
    font-weight: bold; 
}
.Email{
    background-color: #ffffff;
    color: #767676;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 510px;
    height: 35px;
    left: 570px;
    top: 330.5px;
}
.Email input{
    border: none;
    outline: none;
    width: 475px;
}
.Email::placeholder{
    font-weight: bold; 
}
.circle{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #D9D9D9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    position: absolute;
    border: none;
    top: 200;
    left: 200px;
    transform: translate(-50%, -50%);
}
.proftext{
    background-color: #00730C;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    width: 110px;
    height: 35px;
    left: 150px;
    top: 330.5px;
}
.leftname{
    background-color: #00730C;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    width: 110px;
    height: 18px;
    left: 380px;
    top: 60px;
}
.leftusername{
    background-color: #00730C;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    width: 110px;
    height: 18px;
    left: 380px;
    top: 114px;
}
.leftbirth{
    background-color: #00730C;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    width: 110px;
    height: 18px;
    left: 380px;
    top: 222px;
}
.leftpass{
    background-color: #00730C;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    width: 110px;
    height: 18px;
    left: 380px;
    top: 167px;
}
.leftcontact{
    background-color: #00730C;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    width: 110px;
    height: 18px;
    left: 380px;
    top: 276px;
}
.leftemail{
    background-color: #00730C;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    width: 130px;
    height: 18px;
    left: 380px;
    top: 330.5px;
}
.scircle{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #74D272;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    border: none;
    top: 300px;
    left: 270px;
    transform: translate(-50%, -50%);
}
.edit {
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 35px;
    height: 37px;
    left: 1040px;
    top: 381px;
}
.edit:hover{
    background-color: #87c18b;
}
.lockA {
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    width: -4px;
    height: 12px;
    left: 1039px;
    top: 115px;
}
.lockB {
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    width: -4px;
    height: 12px;
    left: 1039px;
    top: 168px;
}
.lockC {
    background-color: #B8D87B;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    width: -4px;
    height: 12px;
    left: 1039px;
    top: 332px;
}
.messagecon{
    background-color: #B8D87B;
    color: black;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 702px;
    height: 51px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mescon2{
    background-color: #FFFF;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0 0 500px rgba(0, 0, 0, 10);
    width: 662px;
    height: 498px;
    top: 12%;
    left: 25.95%;
}
.uplexit{
    background-color: #7bd3d8;
    position: absolute;
    cursor: pointer;
    border: none;
    width: 35px;
    height: 35px;
    top: 12.3%;
    left: 71.3%;
}
.hidden{
    display:none;
}
.visible{
    display: block;
}
.Upldown{
    background-color: #dadada;
    color: black;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 702px;
    height: 66px;
    top: 83.4%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cancel{
    background-color: #dadada;
    position: absolute;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 104px;
    height: 39px;
    top: 23.3%;
    left: 66.3%;
}
.cancel:hover{
    background-color: #b8b8b8;
}
.save{
    background-color: #B8D87B;
    position: absolute;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 104px;
    height: 39px;
    top: 23.3%;
    left: 83.3%;
}
.save:hover{
    background-color: #87c18b;
}
.button1{
    background-color: #00730C;
    color: white;
    position: absolute;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 168px;
    height: 39px;
    top: 77.3%;
    left: 38.5%;
}
.button1:hover{
    background-color: #4d9c52;
}
