body {
background-color: #00730C;
}
.container {
width: 1450px;
height: 675px;
background-color: #DBEDB9;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.circle {
width: 425px;
height: 425px;
border-radius: 50%;
background-color: #00730C;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.login-button {
background-color: #DBEDB9;
color: black;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.3s ease;
position: absolute;
width: 175px;
height: 45px;
left: 635px;
top: 445px;
}
.login-button:hover {
background-color: #87c18b;
}
.password-input {
position: absolute;
width: 310px;
height: 63px;
left: 50%;
top: 363px;
transform: translateX(-50%);
background: url(Lock.png) no-repeat;
background-color: rgba(115, 173, 121, 255);
border-radius: 10px;
border: 8px;
}
.password-input input {
outline: none;
background-repeat: no-repeat;
background-color: rgba(115, 173, 121, 255);
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: left;
color: rgba(255, 255, 255, 0.829);
border-radius: 10px;
border: 8px;
font-size: 15px;
position: absolute;
width: 200px;
height: 50px;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.password-input input::placeholder {
color: #a1c4a5;
}
.show-password-button {
background-image: url('Eye.png');
background-repeat: no-repeat;
background-color: #a1c4a5;
color: black;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.3s ease;
position: absolute;
width: 40px;
height: 40px;
left: calc(50% + 103px);
top: 372px;
}
.username-input {
position: absolute;
width: 310px;
height: 63px;
left: 50%;
top: 276px;
transform: translateX(-50%);
background: url(User.png) no-repeat;
background-color: rgba(115, 173, 121, 255);
border-radius: 10px;
border: 8px;
}
.username-input input {
outline: none;
background-repeat: no-repeat;
background-color: rgba(115, 173, 121, 255);
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: left;
color: rgba(255, 255, 255, 0.829);
border-radius: 10px;
border: 8px;
font-size: 15px;
position: absolute;
width: 200px;
height: 50px;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.username-input input::placeholder {
color: #a1c4a5;
}
.element {
position: absolute;
border-radius: 10px;
background-blend-mode: lighten;
}
.element1 {
width: 320px;
height: 98px;
left: 200px;
top: 50px;
background: url(Group\ 2.png);
}
.element2 {
width: 159px;
height: 77px;
left: 25px;
top: 50px;
background: url(Logo.png);
}
.element3 {
width: 159px;
height: 77px;
left: 641px;
top: 168px;
background: url(Logo.png);
}
